

OPENAI_API_KEY="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"
HEDERA_ACCOUNT_ID="0.0.5910536"
HEDERA_PRIVATE_KEY="0x6527b8d29458319f4390a0b683b6d6c43d984572749eee01b36ea5a129e95ab4"
HEDERA_NETWORK="testnet"
HEDERA_PAT="v4.public.eyJzdWIiOiJmNjUzNDkwZS0yNmViLTExZjAtOGE3ZS0wYjAwNDM0MGUyMzUiLCJpYXQiOiIyMDI1LTEwLTI3VDA2OjA1OjA4LjMxMFoiLCJqdGkiOiJlM2RlYWExNi1iMmZhLTExZjAtYmJkMS04ZmEyMDIyOGQyMTUifUl4N8ltN6Ye1Jiys3uvFsaBizIexQOlQIv8LUd9Bg8h2gVGXMO_Fjid8H7vE2vhoeOvanU2bU09sIS-mCCzMQw"

NEXT_PUBLIC_WALLET_CONNECT_ID="9811958bd307518b364ff7178034c435"